/* Custom properties */
  
  /* Wrapping */
  .Tooltip-Wrapper {
    display: inline-block;
    position: relative;
  }
  
  /* Absolute positioning */
  .Tooltip-Tip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    background: #77797a;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
    bottom: -30px;
    box-shadow: 2px 2px 2px -2px #313639;

  }
  
